<!DOCTYPE html>
<html>
    <head>
        <title>emfjson - EMF Binding for JSON</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/normalize.css" rel="stylesheet" media="screen" type='text/css'>
        <link type="text/css" rel="stylesheet" href="css/tomorrow-night.css">
        <script type="text/javascript" src="highlight.pack.js"></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
        <link href="css/site.css" rel="stylesheet" media="screen" type='text/css'>
    </head>
    <body>
        <nav id="menu">
            <header>
                <h1>{ emfjson }</h1>
            </header>
            <ul><li class="nav-divider"><a href="index.html">Home</a></li></ul>
            <ul><li><a href="#about">About</a></li></ul>
            <ul><li><a href="#installation">Installation</a></li></ul>
            <ul><li><a href="#usage">Usage</a></li></ul>
            <ul><li class="nav-divider"><a href="#specification">Specification</a></li></ul>
            <ul><li><a href="https://github.com/ghillairet/emfjson-gwt" target="_blank">GWT edition</a></li></ul>
            <ul><li><a href="https://github.com/ghillairet/emfjson" target="_blank">Source code</a></li></ul>
            <ul><li><a href="https://github.com/ghillairet/emfjson/issues?state=open" target="_blank">Issues</a></li></ul>
        </nav>
        <div id="content">
            <article>

